<h5>Single cell</h5>
<pre>{{ cellData }}</pre>
<h5>All sheet data</h5>
<pre>
  {{ sheetData | json }}
</pre>

<table id="myTable"></table>

<table>
    <th>{{ rowData[0][0] }}</th> |
    <th>{{ rowData[0][1] }}</th> |
    <th>{{ rowData[0][2] }}</th> |
    <th>{{ rowData[0][3] }}</th>
    <!-- <th>{{ rowData[0][4] }}</th>
    <th>{{ rowData[0][5] }}</th>
    <th>{{ rowData[0][6] }}</th>
    <th>{{ rowData[0][7] }}</th>
    <th>{{ rowData[0][8] }}</th>
    <th>{{ rowData[0][9] }}</th>
    <th>{{ rowData[0][10] }}</th>
    <th>{{ rowData[0][11] }}</th>
    <th>{{ rowData[0][12] }}</th>
    <th>{{ rowData[0][13] }}</th> -->
  <tr *ngFor="let row of rowData.slice(1)">
    <td>{{ row[0] }}</td> |
    <td>{{ row[1] }}</td> |
    <td>{{ row[2] }}</td> |
    <td>{{ row[3] }}</td>
    <!-- <td>{{ row[4] }}</td> |
    <td>{{ row[5] }}</td> |
    <td>{{ row[6] }}</td> |
    <td>{{ row[7] }}</td> |
    <td>{{ row[8] }}</td> |
    <td>{{ row[9] }}</td> |
    <td>{{ row[10] }}</td> |
    <td>{{ row[11] }}</td> |
    <td>{{ row[12] }}</td> |
    <td>{{ row[13] }}</td> | -->
  </tr>
</table>

<table>
  <tr>
  <th *ngFor="let head of rowData[0]">
    {{ head }}
  </th>
</tr>
  <tr *ngFor="let row of rowData.slice(1)">
    <td *ngFor="let cell of row">{{cell}}</td>
  </tr>
</table>
