<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- <button mat-icon-button disabled></button> -->
    <span class="label">{{node.name}}</span>
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name" class="bg">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <span class="label">{{node.name}}</span>
  </mat-tree-node>
</mat-tree>

<!--Used the Angular ngClass directive to apply the 'expand-more' or 'chevron-right' class 
  based on the value of treeControl.isExpanded(node)
Removed unnecessary aria-label attribute and used a class to change the icon.
Additionally, you can create a css file to style your template and use class selectors to make it 
more readable and maintainable
-->
