<section>
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card class="card">
      <mat-card-header><mat-card-title>Time to start a workout!</mat-card-title></mat-card-header>
      <mat-card-content
        ><mat-form-field appearance="fill" *ngIf="!isLoading && exercises">
          <mat-label>Choose exercise</mat-label>
          <mat-select ngModel name="exercise" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select> </mat-form-field
        ><mat-spinner *ngIf="isLoading"></mat-spinner
      ></mat-card-content>
      <mat-card-actions *ngIf="!isLoading">
        <button mat-button *ngIf="exercises" type="submit" [disabled]="f.invalid">Start</button>
        <button mat-button *ngIf="!exercises" type="button" (click)="fetchExercises()">Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
