<!-- <div>
  <a routerLink="/basic/basic1">Basic 11</a> | <a routerLink="/basic/basic1/basic12">Basic 12</a> |
  <a routerLink="/basic/basic1/basic13">Basic 13</a>
</div> -->
<div>
  <a routerLink="/basic">Basic 1</a> | 
  <a routerLink="/basic/basic2">Basic 2</a> |
  <a routerLink="/basic/basic3">Basic 3</a>
</div>
BASIC 1
<router-outlet></router-outlet>

<!-- <div class="container">
  <mat-card class="weather-content">
    <mat-card-header class="weather-header">
      <mat-card-title>Current Temperature: {{ temperatureSubject1$.value }}° F</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <img [src]="imageSrc" class="weather-icon" />
    <mat-card-actions class="weather-content">
      <mat-form-field class="weather-form">
        <mat-label>Input Temperature</mat-label>
        <input matInput type="text" (change)="setInputTemperature($event)" type="number" />
      </mat-form-field>
      <button mat-raised-button color="primary" class="temperature-button" (click)="setTemperature()">
        Set Temperature
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container">
  <mat-card class="weather-content">
    <mat-form-field class="weather-form">
      <mat-label>Input Temperature</mat-label>
      <input matInput type="text" (change)="setInputTemperature($event)" type="number" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="temperature-button" (click)="setTemperature()">
      Set Fahrenheit Temperature
    </button>
  </mat-card>

  <mat-card class="weather-content">
    <mat-card-title class="weather-header"
      ><span>Current Temperature: {{ displayTemperatureText }}</span></mat-card-title
    >
    <button
      *ngIf="isTouched && !isCelsius"
      mat-raised-button
      color="primary"
      (click)="convertToCelsius()"
      class="temperature-button"
    >
      Convert To Celsius
    </button>
    <button
      *ngIf="isTouched && isCelsius"
      mat-raised-button
      color="primary"
      (click)="convertToFahrenheit()"
      class="temperature-button"
    >
      Convert To Fahrenheit
    </button>
  </mat-card>
</div>

<div class="container">
  <mat-card class="weather-content">
    <mat-form-field class="weather-form">
      <mat-label>Input Temperature</mat-label>
      <input matInput type="text" (change)="setInputTemperature($event)" type="number" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="temperature-button" (click)="setTemperature()">
      Add Fahrenheit Temperature
    </button>
    <button mat-raised-button color="primary" class="temperature-button" (click)="addSubscription()">
      Add New Subscription
    </button>
    <button mat-raised-button color="primary" class="temperature-button" (click)="removeSubscription()">
      Remove Subscription
    </button>
  </mat-card>

  <mat-card class="weather-content">
    <mat-card-title class="weather-header">
      <span *ngIf="!temperatureDataList.length">No Values Listed</span>
      <span *ngIf="temperatureDataList.length">Replayed Subscription Values</span>

      <li *ngFor="let temp of temperatureDataList">{{ temp }} F</li>
    </mat-card-title>
  </mat-card>
</div> -->
